<footer class="eol">
    <div class="container">
        <p>100Pals is the Official Discord Partner for the Global Achievement Hunting Community.</p>
        <p>
            Join us on Discord:<br>
            <a href="https://discord.gg/100Pals" target="_blank" class="discordonline">
                <img src="https://discordapp.com/api/guilds/71459914232365056/widget.png" alt="Join us on Discord!">
            </a>
        </p>
        <p><a href="/contact">Contact 100Pals Staff</a><br>&copy; 2015-{{ 'now' | date: "%Y" }} 100Pals</p>
    </div>
</footer>

<script defer="" src="//use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>
