<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} · {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="/css/main.css?{{site.time | date: '%s'}}">
  <script src="/main.js?{{site.time | date: '%s'}}" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/monokai-sublime.min.css" integrity="sha512-/l4iViNMhxR5MhSlak3Yw/L/7qUBifVy7MpLjeJTc8BPMRFbGplGN0xqufCDwhSdxSnVgy+e/OYsNnU75K3yyQ==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js" integrity="sha512-zol3kFQ5tnYhL7PzGt0LnllHHVWRGt2bTCIywDiScVvLIlaDOVJ6sPdJTVi0m3rA660RT+yZxkkRzMbb1L8Zkw==" crossorigin="anonymous"></script>
  <!-- Find more language files at https://cdnjs.com/libraries/highlight.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/languages/autohotkey.min.js" integrity="sha512-mHYCrZUQV3W8MQeoysiuvJIWTFBgOBKCDOIATul1It3h01OzjzGdRpCdo9WMZpTjZTOL/h3kysOK5Na0SzILmg==" crossorigin="anonymous"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
  {% endif %}
</head>




