<nav class="navbar navbar-expand-lg fixed-top">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav main-nav">
            <li class="nav-item{% if page.url == "/" %} active{% endif %}">
                <a class="nav-link" href="/">About</a>
            </li>    
            <li class="nav-item{% if page.url == "/rules" %} active{% endif %}">
                <a class="nav-link" href="/rules">Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://forum.achievementhunting.com">Appeals</a>
            </li>
            <!-- Removing servers section as we aren't currently running any.
            <li class="nav-item{% if page.url == "/servers" %} active{% endif %}">
                <a class="nav-link" href="/servers">Servers</a>
            </li>
            -->
            <li class="nav-item{% if page.url == "/resources" %} active{% endif %}">
                <a class="nav-link" href="/resources">Resources</a>
            </li>
            <li class="nav-item{% if page.url == "/guides/" %} active{% endif %}">
                <a class="nav-link" href="/guides/">Guides</a>
            </li>
            <li class="nav-item{% if page.url == "/glossary" %} active{% endif %}">
                <a class="nav-link" href="/glossary">Glossary</a>
            </li>
            <li class="nav-item{% if page.url == "/staff" %} active{% endif %}">
                <a class="nav-link" href="/staff">Staff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link discordonline" href="https://discord.gg/100Pals" target="_blank">
                    <img src="https://discordapp.com/api/guilds/71459914232365056/widget.png" alt="Join us on Discord!">
                </a>
            </li>
        </ul>
    </div>
</nav>
