body.glossary table {
    border: 1px;
}

body.glossary ol {
    list-style-type: decimal;
}

body.glossary dl {
  display: flex;
  flex-flow: row wrap;
}

body.glossary dt {
    flex-basis: 20%;
    padding: 2px 4px;
    text-align: left;
    font-weight: bold;
}

body.glossary dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
}

// Make links to specific glossary items not get stuffed under the menu 
body.glossary dt::before,body.glossary dd::before {
    content: '';
    display: block;
    height: 30px;
}

body.glossary dt a {
    color: rgb(209, 206, 199);
}
