
body.servers section.server {
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    border-style: solid;
    overflow: hidden;
    margin: 2em auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

body.servers section.server p {
    margin: none;
}

body.servers section.server .status{
    text-align: right;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    padding: .5em 1em;
    position: absolute;
}

body.servers section.server .status-online {
    color: rgb(255, 255, 255);
    background-color: rgb(34, 141, 58);
}

body.servers section.server .status-offline {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}

body.servers section.server .server {
    color: rgb(234, 82, 152);
    font-size: 87.5%;
    float: left;
}


body.servers section.server dl.settings {
    margin: 0;
}

body.servers section.server dl.settings dt {
    font-style: italic;
}

body.servers section.server dl.settings dd {
    margin-inline-start: unset;
    font-size: 87.5%;
}
