<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{% if page.url == "/"%}index{% else %}{{page.url | replace: '/', ''}}{% endif%}">
    {% include menu.html %}
    <div class="global">
      <header class="hero">
        <h1>Global Achievement Hunting Community</h1>
      </header>
      <main>
        <div class="wrapper">
          <h1>Staff</h1>

          <h2>Moderators</h2>
          {% assign sorted_users = site.data.staff_mods | sort_natural: "name" %}
          {% for user in sorted_users %}
          <table class="staff moderator">
            <thead>
              <tr>
                  <td class="name">{{ user.name }}</td>
                  <td class="links">
                    <a href="https://steamcommunity.com/profiles/{{user.steam64}}"><img src="/images/content/steam_16x16.png"></a>
                    <a href="https://completionist.me/steam/profile/{{user.steam64}}"><img src="/images/content/cme_16x16.png"></a>
                    <a href="https://steamhunters.com/profiles/{{user.steam64}}"><img src="/images/content/sh_16x16.png"></a>
                    {% if user.exophase %}<a href="https://www.exophase.com/user/{{user.exophase}}"><img src="/images/content/exo_16x16.png"></a>{% endif %}
                    {% if user.mgs %}<a href="https://metagamerscore.com/profile/{{user.mgs}}"><img src="/images/content/mgs_16x16.png"></a>{% endif %}
                    {% if user.ra %}<a href="https://retroachievements.org/user/{{user.ra}}"><img src="/images/content/ra_16x16.png"></a>{% endif %}
                    {% if user.psnprofiles %}<a href="https://psnprofiles.com/{{user.psnprofiles}}"><img src="/images/content/psnprofiles_16x16.png"></a>{% endif %}
                    {% if user.twitter %}<a href="https://twitter.com/{{user.twitter}}"><img src="/images/content/twitter_16x16.png"></a>{% endif %}
                    {% if user.twitch %}<a href="https://www.twitch.tv/{{user.twitch}}"><img src="/images/content/twitch_16x16.png"></a>{% endif %}
                    {% if user.youtube %}<a href="https://www.youtube.com/{{user.youtube}}"><img src="/images/content/youtube_16x16.png"></a>{% endif %}
                  </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="headshot">
                  <img src="/images/staff/{{user.name | downcase}}.jpg">  
                </td>
                <td class="description">
                    {% for p in user.description  %}
                    <p>{{ p }}</p>
                    {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
          {% endfor %}

          <h2>Ambassadors</h2>
          {% assign sorted_users = site.data.staff_ambassadors | sort_natural: "name" %}
          {% for user in sorted_users %}
          <table class="staff ambassador">
            <thead>
              <tr>
                  <td class="name">{{ user.name }}</td>
                  <td class="links">
                    <a href="https://steamcommunity.com/profiles/{{user.steam64}}"><img src="/images/content/steam_16x16.png"></a>
                    <a href="https://completionist.me/steam/profile/{{user.steam64}}"><img src="/images/content/cme_16x16.png"></a>
                    <a href="https://steamhunters.com/profiles/{{user.steam64}}"><img src="/images/content/sh_16x16.png"></a>
                    {% if user.exophase %}<a href="https://www.exophase.com/user/{{user.exophase}}"><img src="/images/content/exo_16x16.png"></a>{% endif %}
                    {% if user.mgs %}<a href="https://metagamerscore.com/profile/{{user.mgs}}"><img src="/images/content/mgs_16x16.png"></a>{% endif %}
                    {% if user.ra %}<a href="https://retroachievements.org/user/{{user.ra}}"><img src="/images/content/ra_16x16.png"></a>{% endif %}
                    {% if user.psnprofiles %}<a href="https://psnprofiles.com/{{user.psnprofiles}}"><img src="/images/content/psnprofiles_16x16.png"></a>{% endif %}
                    {% if user.twitter %}<a href="https://twitter.com/{{user.twitter}}"><img src="/images/content/twitter_16x16.png"></a>{% endif %}
                    {% if user.twitch %}<a href="https://www.twitch.tv/{{user.twitch}}"><img src="/images/content/twitch_16x16.png"></a>{% endif %}
                    {% if user.youtube %}<a href="https://www.youtube.com/{{user.youtube}}"><img src="/images/content/youtube_16x16.png"></a>{% endif %}
                  </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="headshot">
                  <img src="/images/staff/{{user.name | downcase}}.jpg">  
                </td>
                <td class="description">
                    {% for p in user.description  %}
                    <p>{{ p }}</p>
                    {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
          {% endfor %}

        <h2>Verification Staff</h2>
          {% assign sorted_users = site.data.staff_verifiers | sort_natural: "name" %}
          {% for user in sorted_users %}
          <table class="staff verifier">
            <thead>
              <tr>
                  <td class="name">{{ user.name }}</td>
                  <td class="links">
                    <a href="https://steamcommunity.com/profiles/{{user.steam64}}"><img src="/images/content/steam_16x16.png"></a>
                    <a href="https://completionist.me/steam/profile/{{user.steam64}}"><img src="/images/content/cme_16x16.png"></a>
                    <a href="https://steamhunters.com/profiles/{{user.steam64}}"><img src="/images/content/sh_16x16.png"></a>
                    {% if user.exophase %}<a href="https://www.exophase.com/user/{{user.exophase}}"><img src="/images/content/exo_16x16.png"></a>{% endif %}
                    {% if user.mgs %}<a href="https://metagamerscore.com/profile/{{user.mgs}}"><img src="/images/content/mgs_16x16.png"></a>{% endif %}
                    {% if user.ra %}<a href="https://retroachievements.org/user/{{user.ra}}"><img src="/images/content/ra_16x16.png"></a>{% endif %}
                    {% if user.psnprofiles %}<a href="https://psnprofiles.com/{{user.psnprofiles}}"><img src="/images/content/psnprofiles_16x16.png"></a>{% endif %}
                    {% if user.twitter %}<a href="https://twitter.com/{{user.twitter}}"><img src="/images/content/twitter_16x16.png"></a>{% endif %}
                    {% if user.twitch %}<a href="https://www.twitch.tv/{{user.twitch}}"><img src="/images/content/twitch_16x16.png"></a>{% endif %}
                    {% if user.youtube %}<a href="https://www.youtube.com/{{user.youtube}}"><img src="/images/content/youtube_16x16.png"></a>{% endif %}
                  </td>
              </tr>
            </thead>
          </table>
          {% endfor %}
          
        </div>
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
